<!DOCTYPE html>
<html>

<head>
    <title>Wordcount</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
        .container {
            max-width: 1000px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <form class="form-horizontal" action='' method="POST">
                <fieldset>
                    <div id="legend">
                        <legend class="">Register</legend>
                    </div>
                    <div class="control-group">
                        <!-- Username -->
                        <label class="control-label" for="gender">gender</label>
                        <div class="controls">
                            <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                            
                        </div>
                    </div>

                    <div >
                        <label class="control-label" for="gender">Action</label>
                       
                            <div class="dropdown show">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Dropdown link
                                </a>
                            
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                    </div>

                 
            
                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="sexuality">Sexuality</label>
                        <div class="controls">
                            <input type="text" id="sexuality" name="sexuality" placeholder="" class="input-xlarge">
                            <p class="help-block">Please provide your </p>
                        </div>
                    </div>
            

                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="age">Age</label>
                        <div class="controls">
                            <input type="number" id="age" name="age" placeholder="" class="input-xlarge">
                            <p class="help-block">Please provide your age</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="income">Income</label>
                        <div class="controls">
                            <input type="number" id="income" name="income" placeholder="" class="input-xlarge">
                            
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="race">Race</label>
                        <div class="controls">
                            <input type="text" id="race" name="race" placeholder="" class="input-xlarge">
                            
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="bodyweight">Body weight</label>
                        <div class="controls">
                            <input type="text" id="bodyweight" name="bodyweight" placeholder="" class="input-xlarge">
     
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="virgin">virgin</label>
                        <div class="controls">
                            <input type="text" id="virgin" name="virgin" placeholder="" class="input-xlarge">
                            
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="prostitution_legal">Prostitution legal</label>
                        <div class="controls">
                            <input type="text" id="prostitution_legal" name="prostitution_legal" placeholder="" class="input-xlarge">
                            
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="pay_for_sex">Pay for sex</label>
                        <div class="controls">
                            <input type="text" id="pay_for_sex" name="pay_for_sex" placeholder="" class="input-xlarge">
                            
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="friends">friends</label>
                        <div class="controls">
                            <input type="number" id="friends" name="friends" placeholder="" class="input-xlarge">
                            
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="social_fear">social_fear</label>
                        <div class="controls">
                            <input type="text" id="social_fear" name="social_fear" placeholder="" class="input-xlarge">
                            
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="depressed">Depressed</label>
                        <div class="controls">
                            <input type="text" id="depressed" name="depressed" placeholder="" class="input-xlarge">
                    
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="employment">Employment</label>
                        <div class="controls">
                            <input type="text" id="employment" name="employment" placeholder="" class="input-xlarge">
                    
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="job_title">Job title</label>
                        <div class="controls">
                            <input type="text" id="job_title" name="job_title" placeholder="" class="input-xlarge">
                    
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="edu_level">Education  level</label>
                        <div class="controls">
                            <input type="text" id="edu_level" name="edu_level" placeholder="" class="input-xlarge">
                    
                        </div>
                    </div>







                </fieldset>
            </form>
            <div class="col-sm-5 col-sm-offset-1">
                <h1>Wordcount 3000</h1>
                <br>
                <form role="form" method="POST" action="/">
                    <div class="form-group">
                        <input type="text" name="url" class="form-control" id="url-box" placeholder="Enter URL..."
                            style="max-width: 300px;">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <br>
                {% for error in errors %}
                <h4>{{ error }}</h4>
                {% endfor %}
                <br>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                {% if results %}
                <h2>Frequencies</h2>
                <br>
                <div id="results">
                    <table class="table table-striped" style="max-width: 300px;">
                        <thead>
                            <tr>
                                <th>Word</th>
                                <th>Count</th>
                            </tr>
                        </thead>
                        {% for result in results%}
                        <tr>
                            <td>{{ results }}</td>
                            <td>{{ result[1] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <br><br>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>

</html>